{% extends "::base.html.twig" %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('theatre_modifierInteret') }}"><span class="iconAdd glyphicon glyphicon-pencil icon1"></span></a>
        {% endif %}

        {{ interet.contenu|raw }}




{% endblock %}


