{% extends "::base.html.twig" %}
{% block content %}
    Êtes-vous intéréssé à participer au théâtre? De nombreux postes sont à pourboire, que ce soit en tant que figurant, acteur, placeur, vente des tickets, etc.

    Annoncez-vous au plus vite en remplissant <a href="{{ path('theatre_contact') }}">notre formulaire de contact</a>!!!
    {#<iframe style="position: absolute; height: 100%" width="100%" src="http://album.tragedie2017.ch/index.php"></iframe>#}

{% endblock %}


