{% extends "::base.html.twig" %}
{% block content %}
Êtes-vous intéréssé à participer au théâtre? De nombreux postes sont à pourboire, que ce soit en tant que figurant, acteur, placeur, vente des tickets, etc.

Annoncez-vous au plus vite en remplissant <a href="{{ path('theatre_contact') }}">notre formulaire de contact</a>!!!


{% endblock %}


