{% block menu %}
    <nav id="nav">
        <ul>
            <li><a href="{{ path('theatre_articles') }}">Événements</a></li>
            <li class="current"><a href="{{ path('theatre_billeterie') }}">Billetterie</a></li>
            <li><a href="#"><a href="{{ path('theatre_interesse') }}">Intéressé?</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
{% endblock %}